*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80vh;
    background-color: beige;
}

.formulaire{
    width: 60%;
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin: 3vh auto;
}

.Form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input{
    display: flex;
    justify-content: space-between;
}

.Coche{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Select{
    width: 40%;
}

.bouton{
    width: 10%;
    margin: auto;
    height: 5vh;
}